# SSHd configuration for Tunnix
Port 12000
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Auth
PermitRootLogin no
PasswordAuthentication yes
UsePAM no

# Tunneling
GatewayPorts yes
AllowTcpForwarding yes
PermitTunnel yes

# Logging
LogLevel INFO
SyslogFacility AUTH

# Security
StrictModes yes
MaxAuthTries 3
MaxSessions 10

# Connection
ClientAliveInterval 60
ClientAliveCountMax 3
